**/Library/
**/Temp/
**/obj/

**/.vscode/
**/.vs

**/Assets/Plugins/*
**/Assets/Plugins.meta
**/Assets/PolygonFantasyHeroCharacters/*

*.user
*.idea
*.csproj
*.csproj.user
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*.swp
*.DotSettings

.vs/
build/*